.main_page{
    width: 100vw;
    height: 100vh;
    background: url("https://ik.imagekit.io/Amazon1234/1348517_in_prime_2_pd_3000x1200_Eng._CB663273097_.jpg_94ym4sJRr.png?ik-sdk-version=javascript-1.4.3&updatedAt=1659444773447");
    background-size: 100vw;
    background-color: #EAEDED;
}